# === Virtual Environment ===
venv_cpu/

# === Model Files ===
best.pt

# === Python Cache ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Editor Settings ===
.vscode/

# === OS-Specific Files ===
.DS_Store
Thumbs.db
